body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  background: url(../images/wallpaper.png) no-repeat center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.topBarBtns {
  display: flex;
  position: absolute;
  top: 24px;
  left: 24px;
  gap: 12px;
}

.btn {
  width: 150px;
  height: 75px;
  border-radius: 50px;
  border: none;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s linear;
}

#exitBtn {
  color: white;
  background: #ff9fb9;
  box-shadow: 0px 5px 10px 0px rgba(253, 216, 227, 0.5);

  &:hover {
    color: black;
    background: white;
  }
}

#restartBtn {
  background: white;
  box-shadow: 0px 5px 10px 0px rgba(253, 216, 227, 0.5);

  &:hover {
    color: white;
    background: #ff9fb9;
  }
}

#logo {
  width: 250px;
  height: 250px;
  display: block;
  margin: auto;
  padding-top: 50px;
}

.life {
  position: absolute;
  top: 24px;
  right: 24px;
}

.numOfLives {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  position: relative;
  top: -65px;
  right: -27px;
  width: fit-content;
}

.sideBarBtns {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 180px;
  right: 24px;
  gap: 12px;
}

.circle {
  width: 75px;
  height: 75px;
  border-radius: 50px;
  background: #ff9fb9;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s linear;
  box-shadow: 0px 5px 10px 0px rgba(253, 216, 227, 0.5);
}

.circle:hover {
  background: white;

  path {
    fill: #ff9fb9;
  }
}

#logo {
  width: 250px;
  height: 250px;
  display: block;
  margin: auto;
  padding-top: 50px;
}

#QuestContainer {
  max-width: 1000px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  position: absolute;
  bottom: 120px;
  left: 0;
  right: 0;
}

#QuesNumSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 35px;
  background-color: #ff9fb9;
  color: white;
  border-radius: 10px;
}

#QuesNumSection p {
  font-weight: bold;
  font-size: 24px;
}

#timerSection {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 1px solid black;
  width: 75px;
  height: 75px;
  color: #000;
}

#timerSection #timer {
  font-size: 36px;
}

#categorySection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  text-align: center;
}

#categorySection #categoryText {
  color: rgba(0, 0, 0, 0.5);
  font-size: 24px;
  margin: 0;
  padding: 0;
}

#ques {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

#ques p {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 120%;
}

#answers {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  width: 100%;
}

#answers p {
  margin: 0;
  padding: 0;
  border-radius: 50px;
  height: 75px;
  line-height: 75px;
  background: white;
  box-shadow: 0px 5px 10px 0px rgba(253, 216, 227, 0.5);
  transition: all 0.3s linear;
  cursor: pointer;

  &:hover {
    color: white;
    background: #ff9fb9;
  }
}

#hint {
  width: 100%;
  color: black;
}

#hint #hintText {
  font-size: 24px;
  margin: 0;
  padding: 0;
}

#hintText span {
  font-weight: bold;
}

#ans1,
#ans2,
#ans3,
#ans4 {
  text-align: center;
}
