/* XL - Extra large devices (large desktops, 1200px and down)*/
@media screen and (max-width: 1200px) {
  /* Gampage Responsive */
  .btn {
    width: 100px;
    height: 50px;
    font-size: 20px;
  }

  .life,
  .life svg {
    width: 60px;
    height: 55px;
  }

  .numOfLives {
    font-size: 28px;
    top: -54px;
    right: -22px;
  }

  .circle {
    width: 60px;
    height: 60px;
  }

  .circle svg {
    width: 50px;
  }

  #ques {
    width: 80%;
  }

  #ques p {
    font-size: 32px;
  }

  #answersContainer {
    width: 80%;
  }

  #answersContainer p {
    width: 100%;
    font-size: 20px;
  }

  #categorySection #categoryText {
    font-size: 20px;
  }

  #message {
    width: 80%;
  }

  #message #messageText {
    font-size: 20px;
  }

  #QuesNumSection {
    width: 125px;
    height: 25px;
  }

  #QuesNumSection p {
    font-size: 20px;
  }

  #timerSection {
    width: 60px;
    height: 60px;
  }

  #timerSection #timer {
    font-size: 32px;
  }
}

/* LG - Large devices (desktops, 992px and down)*/
@media screen and (max-width: 992px) {
  /* Gampage Responsive */
  #answersContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
  }

  .sideBarBtns {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 24px;
    gap: 12px;
    right: 0;
    left: 0;
    justify-content: center;
  }

  #logo {
    padding-top: 24px;
  }

  #QuestContainer {
    bottom: 175px;
  }
}

/* MD - Medium devices (tablets, 768px and down)*/
@media screen and (max-width: 768px) {
  /* Homepage Responsive */
  .infoContent {
    width: 450px;
  }

  .newGameContent {
    width: 450px;
  }

  /* Gampage Responsive */
  .topBarBtns {
    display: flex;
    flex-direction: column;
  }

  #ques p {
    font-size: 28px;
  }

  #answersContainer p {
    width: 100%;
    font-size: 16px;
  }

  .btn {
    width: 80px;
    height: 40px;
    font-size: 16px;
  }

  .life,
  .life svg {
    width: 60px;
    height: 55px;
  }

  .numOfLives {
    font-size: 28px;
    top: -54px;
    right: -22px;
  }

  #categorySection #categoryText {
    font-size: 16px;
  }

  #message #messageText {
    font-size: 16px;
  }

  .numOfLives {
    font-size: 24px;
    top: -54px;
    right: -22px;
  }

  #QuesNumSection {
    width: 100px;
    height: 25px;
  }

  #QuesNumSection p {
    font-size: 16px;
  }

  #timerSection {
    width: 50px;
    height: 50px;
  }

  #timerSection #timer {
    font-size: 28px;
  }
}

/* SM - Small devices (landscape phones, 576px and down)*/
@media screen and (max-width: 576px) {
  /* Homepage Responsive */
  #homePageLogo {
    width: 90%;
  }

  button {
    width: 100%;
    width: calc(100% - 3rem);
  }

  section {
    width: 100%;
  }

  .infoContent {
    width: 250px;
  }

  .newGameContent {
    width: 250px;
  }

  /* Gampage Responsive */
  #ques p {
    font-size: 24px;
  }

  .circle {
    width: 50px;
    height: 50px;
  }

  .circle svg {
    width: 40px;
  }

  #logo {
    width: 200px;
    height: 200px;
  }
}

@media screen and (max-height: 1065px) {
  #logo {
    width: 150px;
    height: 150px;
  }

  #answersContainer {
    gap: 15px;
  }

  #answersContainer p {
    height: 65px;
    line-height: 65px;
  }

  #QuesNumSection {
    width: 140px;
    height: 32px;
  }
  #QuesNumSection p {
    font-size: 23px;
  }

  #ques p {
    font-size: 29px;
  }

  #categorySection #categoryText {
    font-size: 20px;
    margin-bottom: -10px;
    margin-top: -10px;
  }

  #timerSection {
    width: 55px;
    height: 55px;
    margin-bottom: -10px;
    margin-top: -10px;
  }

  #timerSection #timer {
    font-size: 29px;
  }
}

@media screen and (max-height: 940px) {
  #logo {
    width: 125px;
    height: 125px;
  }
  #answersContainer {
    gap: 10px;
  }
  #answersContainer p {
    height: 50px;
    line-height: 50px;
  }
  #QuesNumSection {
    width: 130px;
    height: 27px;
  }
  #QuesNumSection p {
    font-size: 19px;
  }
  #ques p {
    font-size: 25px;
  }

  #timerSection {
    width: 45px;
    height: 45px;
    margin-bottom: -12px;
    margin-top: -12px;
  }
  #timerSection #timer {
    font-size: 25px;
  }
}

@media screen and (max-height: 845px) {
  #logo {
    width: 110px;
    height: 110px;
  }
  #answersContainer {
    gap: 7px;
  }
  #QuesNumSection {
    width: 120px;
    height: 25px;
  }
  #QuesNumSection p {
    font-size: 17px;
  }
  #ques p {
    font-size: 23px;
  }
  #timerSection {
    width: 40px;
    height: 40px;
    margin-bottom: -15px;
    margin-top: -15px;
  }
  #timerSection #timer {
    font-size: 18px;
  }
}

@media screen and (max-height: 790px) {
  #logo {
    width: 105px;
    height: 105px;
  }
  #ques p {
    font-size: 20px;
  }
  #QuesNumSection {
    width: 100px;
    height: 20px;
  }
  #QuesNumSection p {
    font-size: 12px;
  }
  #timerSection {
    width: 40px;
    height: 40px;
    margin-bottom: -15px;
    margin-top: -15px;
  }
  #timerSection #timer {
    font-size: 18px;
  }
}

@media screen and (max-height: 745px) {
  #logo {
    display: none;
  }
}
